<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>966494153383-cad29220vb1om99he6g1nrma75ocrea7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.966494153383-cad29220vb1om99he6g1nrma75ocrea7</string>
	<key>API_KEY</key>
	<string>AIzaSyDMHAwXDHYxN-v849A77a7DVHjWWUyR74M</string>
	<key>GCM_SENDER_ID</key>
	<string>966494153383</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ronyquail.Bonga-Chat</string>
	<key>PROJECT_ID</key>
	<string>chat-app-42334</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-42334.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:966494153383:ios:8e114ca2186730cc</string>
	<key>DATABASE_URL</key>
	<string>https://chat-app-42334.firebaseio.com</string>
</dict>
</plist>